.NavBar {
    height: 3rem;
    background-color: var(--chakra-colors-white);
    border-bottom: 1px solid var(--chakra-colors-gray-300);
    box-shadow: 0 0 3px var(--chakra-colors-gray-200);
}

.circularProgress {
    width: 1rem;
    height: 1rem;

    svg {
        width: 1rem;
        height: 1rem;
    }
}

.exportLink {
    width: 100%;
}

.menu {
    padding: 0 !important;
    .link {
        width: 100%;
        padding-inline: var(--chakra-space-3);
        padding-block: var(--chakra-space-1);
    }
}
